<div style="background-color: #edf2f4;min-height: 100vh;">
  <h1 style="text-align: center;padding-top: 20px;">Entity Selector</h1>
  <div class="input" style="display: flex;flex-direction: column;align-items: center;">
    <mat-form-field style="width: 80%;" appearance="fill">
      <mat-label>Message</mat-label>
      <textarea  [(ngModel)]="text" matInput></textarea>
    </mat-form-field>
    <button style="position: absolute;right: 8%;margin-top: 1%;"  mat-mini-fab color="primary" (click)="display()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
  <div class="display">
    <div  class="message">
    <p *ngFor="let word of myArr;let i = index" 
        style="display: inline;font-size: 18px;" 
        (click)="clicked(i)" 
        (contextmenu)="rightClick($event,i)"
        [ngStyle]="{'background-color':selectedIndex.includes(i)?'rgba(0,255,0,0.6)':'transparent'}" >
        {{word}} 
    </p>
    </div>
    <div class="submit" >
      <input style="width: 100%;" disabled *ngIf="selectedIndex.length==0"  (keyup.enter)="submit()" [(ngModel)]="label">
      <input style="width: 100%;" *ngIf="selectedIndex.length!=0"  (keyup.enter)="submit()" [(ngModel)]="label">
    </div>

    <div class="json">
      <ul>
      <li style="margin-bottom: 0;display: flex;align-items: center;" *ngFor="let json of finalArray">
        <p>{{json}}</p>
        <mat-icon class="deleteIcon" (click)="delete(json)" style="color: rgb(194, 34, 34);">highlight_remove</mat-icon>
      </li>
      </ul>
    </div>
  </div>
</div>

